<!DOCTYPE html>
<html>
<head>
  <script src="https://d3js.org/d3.v5.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <script type="text/javascript" src="../d3testing.js"></script> -->
</head>
<body>
<h1>Welcome to the homepage </h1>

<script>

//adds the svgContainer
var svgContainer = d3.select("body")
  .append("svg")
  .attr("width", 200)
  .attr("height", 200)

var dataCircles = [
    {
      x_axis: 30,
      y_axis: 30,
      radius: 20,
      color: "green"
    },
    {
      x_axis: 60,
      y_axis: 60,
      radius: 35,
      color: "blue"
    },
    {
      x_axis: 90,
      y_axis: 90,
      radius: 50,
      color: "red"
    }
  ];

//adds the data and circles into this same container
var circles = svgContainer.selectAll("circle")
    .data(dataCircles)
    .enter()
    .append("circle")

//adds the attributes to the circles
var circleAttributes = circles
    .attr("cx", function(d) {return d.x_axis})
    .attr("cy", function(d) {return d.y_axis})
    .attr("r", function(d) {return d.radius})
    .style("fill", function(d){return d.color});

//for a rectangle, use "rect", "x", "y", "width", and "height"
//for an ellipse, use "ellipse", "cx", "cy", "rx", "ry"
//for a line, use "line", "x1", "x2", "y1", "y2"
//need to give a line .attribute("stroke-width", widthNumber) and .attribute("stroke", "color") in order to see it
//for a polyline, use "polyline" and give points
//for a polygon, use "polygon" and give points
</script>

<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
<p>There's gonna be a graph here that eventually will update with twitter data </p>

<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>
</body>
</html>
