<!DOCTYPE html>
<html>
<head>
  <script src="https://d3js.org/d3.v5.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <script type="text/javascript" src="../d3testing.js"></script> -->
</head>
<body>
<h1>Welcome to the homepage </h1>

<script>
d3.select("body")
  .append("svg")
  .attr("width", 50)
  .attr("height", 50)
  .append("circle")
  .attr("cx", 25)
  .attr("cy", 25)
  .attr("r", 25)
  .style("fill", "purple");

var theData = [ 1, 2, 3 ]

var p = d3.select("body").selectAll("p")
    .data(theData)
    .enter()
    .append("p")
    //.text("hello ")
    .text( function (data) { return data; } );
</script>

<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
<p>There's gonna be a graph here that eventually will update with twitter data </p>

<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>
</body>
</html>
